window {
  background-color: rgba(10, 10, 10, 0.80); /* Cor de fundo */
  border-radius: 12px;
  border: 2px solid #cc0000; 
}

#input {
  color: #ebdbb2; 
  font-size: 16px;
}

#entry:selected {
  background-color: #cc0000; /* Destaque */
}